@{
    ViewData["Title"] = "Page Not Found";    
}

<div class="d-flex flex-column justify-content-center align-items-center pt-5 mt-5">
    <h1 class="cst-highlight-secondary fw-light display-3">404</h1>
    <p class="text-secondary">The requested URL was not found on this server</p>
     <a href="@Url.Action("Index", "Resident")">   
            <button type="button" class="btn cst-button-pop d-flex align-items-center">
                Back To Home
            </button>
        </a>
</div>